---
layout: default
title: Streaks (For YNAB)
description: Build better spending habits with YNAB integration
permalink: /
---

<div class="text-center">
    Track your spending habits.
</div>

<div class="text-center my-2">
    <a target="_blank" href="https://testflight.apple.com/join/vpTskBKB" class="testflight-button">Get the Public Beta on TestFlight</a>
</div>

<div class="text-center flex screenshots">
    <div>
        <img src="{{ '/assets/images/screenshots/1.jpeg' | relative_url }}" alt="Store Screenshot 1">
    </div>

    <div>
        <img src="{{ '/assets/images/screenshots/2.jpeg' | relative_url }}" alt="Store Screenshot 2">
    </div>
</div>

<div class="text-center my-2">
    <a target="_blank" href="https://testflight.apple.com/join/vpTskBKB" class="testflight-button">Get the Public Beta
        on TestFlight</a>
</div>